#contactht 
{
    font-size: 36px;
    text-align: center;
    margin:16px 10px;
}

#paragraph {
    width: 280px;
    text-align: center;
    margin:16px 100px;
    color: #000000;
    font-size: 20px;
    text-shadow:2px 2px 5px gray;
}


#success {
    color: #689118;
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}

#error-msg {
    color: #ca1e1e;
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}

#contact-box
{ 
    width: 450px;
    height: auto;
    background-color: #f0e0f06e;
    border-radius: 20px ;
    position: absolute;
    border-radius: 20px;
    margin-top: 27%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #D48166;
}

 .inputBox
{
	width: 100%; 
	margin-top: 10px;

}
.contactForm .inputBox input
{
    width: auto;
	border: 3px solid #e9e4db67;
    outline: none;
    border-radius: 8px;
    background-color: #ee91817e;
    font-size: 20px;
    padding: 4px;
    float: left;
    margin: 15px 10px 0px 100px;
}

.contactForm .inputBox textarea 
    {
        height: 150px;
        width: auto;
        border: 3px solid #e9e4db67;
        outline: none;
        border-radius: 8px;
        background-color: #ee91817e;
        font-size: 20px;
        padding: 4px;
        float: left;
        margin: 15px 10px 0px 100px;
    }

#send-btn
{
	width: 100px;
    color: #b46163;
    background-color: #ee91817e;
	border: none;
	cursor: pointer;
    margin: 10px 170px;
	padding: 10px;
	font-size: 20px;
}

#send-btn:hover {
    color: #000;
    text-shadow: 4px 4px 5px gray;
    font-size: 21px;
    transition: 0.8s ease;
}